@charset "UTF-8";
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0.8rem;
  border: 1px solid transparent;
  padding: 0.8rem;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  font: inherit;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: -0.015em;
  color: inherit;
  vertical-align: middle;
}
.btn:link, .btn:visited {
  text-decoration: none;
}
@media (min-width: 1280px) {
  .btn:hover {
    text-decoration: underline;
    text-underline-position: from-font;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}
.btn:focus {
  outline-offset: 0.2rem;
  outline: 2px solid rgba(123, 196, 247, 0.8);
  -webkit-transition: unset;
  transition: unset;
}
.btn.is-focus {
  outline: 2px dashed #7bc4f7;
  -webkit-transition: unset;
  transition: unset;
}
.btn + .btn:not(.btn-half, .btn-full) {
  margin-left: 0.5rem;
}
.btn-s {
  font-size: 2rem;
  min-width: 6rem;
  padding: 0.4rem 0.8rem;
}
@media (max-width: 991px) {
  .btn-s {
    font-size: 1.6rem;
    min-width: 6rem;
    padding: 0.3rem 0.6rem;
  }
}
.btn-m {
  font-size: 2.4rem;
  min-width: 10rem;
  padding: 1.5rem 4rem;
}
@media (max-width: 991px) {
  .btn-m {
    font-size: 2.2rem;
    min-width: 10.8rem;
    padding: 1.6rem 0.9rem;
  }
}
.btn-l {
  font-size: 2.4rem;
  min-width: 12rem;
  padding: 1.261rem 4rem;
  line-height: 1.6;
  font-weight: 500;
}
@media (max-width: 991px) {
  .btn-l {
    font-size: 2rem;
    min-width: 10rem;
    padding: 1.582rem 2rem;
  }
}
.btn-half {
  width: calc(50% - 0.4rem);
}
.btn-full {
  width: 100%;
}
.btn-full + .btn-full {
  margin-top: 1rem;
}
.btn-default {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #111;
}
@media (min-width: 1280px) {
  .btn-default:hover {
    background-color: #F3F6FA;
  }
}
.btn-bg-main {
  background-color: #7bc4f7;
  color: #fff;
}
@media (min-width: 1280px) {
  .btn-bg-main:hover {
    background-color: #1351C3;
  }
}
.btn-bd-main {
  border: 1px solid #7bc4f7;
  background-color: #fff;
  color: #7bc4f7;
}
.btn-bg-main2 {
  background-color: #4792b1;
  color: #fff;
}
@media (min-width: 1280px) {
  .btn-bg-main2:hover {
    background-color: #0f417b;
  }
}
.btn-bd-main2 {
  border: 1px solid #4792b1;
  background-color: #fff;
  color: #4792b1;
}
.btn-bg-point {
  background-color: #50e4ff;
  color: #000;
}
.btn-bd-point {
  border: 1px solid #50e4ff;
  background-color: #fff;
  color: #50e4ff;
}
.btn-bg-gray {
  background-color: #f7f7f7;
  color: #111;
}
.btn-bd-gray {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #464648;
}
.btn-bg-graydisable {
  background-color: #a2a2a4;
  color: #fff;
}
.btn-bd-graydisable {
  border: 1px solid #a2a2a4;
  background-color: #fff;
  color: #464648;
}
.btn-bg-black {
  background-color: #111;
  color: #fff;
}
.btn-bd-black {
  border: 1px solid #111;
  background-color: #fff;
  color: #111;
}
.btn-bg-skyblue {
  background-color: #63b2e9;
  color: #fff;
}
.btn-bd-skyblue {
  border: 1px solid #63b2e9;
  background-color: #fff;
  color: #63b2e9;
}
.btn-bg-pink {
  background-color: #e98089;
  color: #fff;
}
.btn-bd-pink {
  border: 1px solid #e98089;
  background-color: #fff;
  color: #e98089;
}
.btn-bg-success {
  background-color: #1976D2;
  color: #fff;
}
.btn-bd-success {
  border: 1px solid #1976D2;
  background-color: #fff;
  color: #1976D2;
}
.btn-bg-warning {
  background-color: #F9A825;
  color: #111;
}
.btn-bd-warning {
  border: 1px solid #F9A825;
  background-color: #fff;
  color: #F9A825;
}
.btn-bg-danger {
  background-color: #D32F2F;
  color: #fff;
}
.btn-bd-danger {
  border: 1px solid #D32F2F;
  background-color: #fff;
  color: #D32F2F;
}
.btn-bg-successbg {
  background-color: #E3F2FD;
  color: #1976D2;
}
.btn-bg-warningbg {
  background-color: #FFF8E1;
  color: #F9A825;
}
.btn-bg-dangerbg {
  background-color: #FDECEA;
  color: #D32F2F;
}
.btn-bg-lightblue {
  background-color: #F3F5F9;
  color: #7bc4f7;
}
.btn-bg-cyan {
  background-color: #F6FAFF;
  color: #7bc4f7;
}
.btn-delete {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #111;
}
@media (min-width: 1280px) {
  .btn-delete:hover {
    background-color: #EFEFEF;
  }
}
.btn-list {
  width: 16rem;
  border: 1px solid #CED1D3;
  background-color: #fff;
  color: #000;
}
.btn-modi {
  width: 16rem;
  border: 1px solid #7bc4f7;
  background-color: #fff;
  color: #7bc4f7;
}
.btn-save {
  width: 16rem;
  background-color: #7bc4f7;
  color: #fff;
}
.btn-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 0.4rem;
     -moz-column-gap: 0.4rem;
          column-gap: 0.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 5.6rem;
  line-height: 5.4rem;
  padding: 0 2.2rem;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #000;
}
.btn-link::after {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("./../image/common//arrow_right_alt.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
}
.btn-link-right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 0.6rem;
     -moz-column-gap: 0.6rem;
          column-gap: 0.6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}
.btn-link-right::after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.2rem;
  background-image: url("../img/common/icon-link-right.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 0.8rem;
}
.btn-fileGray {
  padding: 0.95rem 2.9rem;
  border-color: #ddd;
  background-color: #f7f7f7;
}
@media (max-width: 991px) {
  .btn-fileGray {
    padding: 1.121rem 1rem;
  }
}
.btn-download {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  width: 16rem;
  border: 1px solid #7bc4f7;
  background-color: #fff;
  color: #7bc4f7;
}
.btn-download::after {
  content: url("./../image/common/icon-file-download.svg");
}
.btn-action {
  padding: 0.961rem 3.92rem;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  color: #111;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  .btn-action {
    font-size: 2rem;
  }
}
.btn.fw-400 {
  font-weight: 400;
}
.btn.fw-500 {
  font-weight: 500;
}
.btn.fw-600 {
  font-weight: 600;
}
.btn.fw-700 {
  font-weight: 700;
}

.btn-wrap {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0.8rem;
  row-gap: 0.8rem;
}
.btn-wrap.nowrap {
  -webkit-box-lines: single;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .btn-wrap.nowrap li,
  .btn-wrap.nowrap .btn {
    width: 100%;
    min-width: unset;
    max-width: 10.8rem;
  }
}
.btn-wrap.al-center {
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.btn-wrap.al-start {
  -webkit-box-pack: start;
  -moz-box-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.btn-wrap.al-end {
  -webkit-box-pack: end;
  -moz-box-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.btn-wrap .btn + .btn {
  margin-left: unset;
}
.btn-wrap .btn-full + .btn-full {
  margin-top: unset;
}
.btn-wrap:not(:has(.btn)).mt-20 {
  margin-top: 0;
}
.btn-wrap:not(:has(.btn)).mt-40 {
  margin-top: 0;
}
.btn-wrap:not(:has(.btn)).mt-50 {
  margin-top: 0;
}
.btn-wrap:not(:has(.btn)).mt-60 {
  margin-top: 0;
}

/* 탭 스크립트는 common.js 264 line // 접근성 탭 기능
	<div class="tab-wrap">
		<!-- 탭 리스트 -->
		<ul class="tab-list">
			<li class="active">
				<button type="button" class="tab-item">탭 아이템1</button>
			</li>
			<li class="">
				<button type="button" class="tab-item">탭 아이템2</button>
			</li>
		</ul>

		<!-- 탭 컨텐츠 -->
		<div class="tab-content">

		</div>
		<div class="tab-content">

		</div>
	</div>
*/
.tab-wrap {
  position: relative;
}
@media (min-width: 1280px) {
  .tab-wrap .btn:hover {
    text-decoration: unset;
  }
}
.tab-list {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  gap: 1rem;
  position: relative;
}
.tab-list-scroll {
  overflow-x: auto;
  width: 100%;
}
.tab-list.item-nowrap .tab-item {
  white-space: nowrap;
}
.tab-list li {
  border: 2px solid transparent;
}
.tab-list li .tab-item {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 13rem;
  height: 5rem;
  padding: 1rem;
  border: 2px solid #B7B7B7;
  border-radius: 9999px;
  background-color: unset;
  color: #747478;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.025rem;
  cursor: pointer;
}
@media (max-width: 991px) {
  .tab-list li .tab-item {
    font-size: 2rem;
  }
}
.tab-list li.active .tab-item {
  border-color: #7bc4f7;
  color: #7bc4f7;
}
.tab-list li.is-focus .tab-item {
  border: 2px dashed #7bc4f7;
  border-radius: 99999px;
}
@media (max-width: 991px) {
  .tab-list {
    gap: 0.6rem;
  }
  .tab-list li .tab-item {
    min-width: 8rem;
    height: 4rem;
  }
}
.tab-content {
  margin-top: 5rem;
}
@media (max-width: 991px) {
  .tab-content {
    margin-top: 3rem;
  }
}

.board-tab-wrap {
  margin-bottom: 3rem;
}
@media (max-width: 991px) {
  .board-tab-wrap {
    width: 100%;
    margin-bottom: 1.6rem;
  }
}

.board-tab-list01 {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
}
.board-tab-list01 li {
  border: 1px solid #B7B7B7;
  border-right: 0;
  color: #666;
}
.board-tab-list01 li:last-of-type {
  border-right: 1px solid #b7b7b7;
}
@media (min-width: 1280px) {
  .board-tab-list01 li:hover {
    background-color: #F6FAFD;
  }
}
.board-tab-list01 li.active {
  border-color: #7bc4f7;
  background-color: #7bc4f7;
  color: #fff;
  text-decoration: underline;
  text-underline-position: from-font;
}
.board-tab-list01 li a {
  display: block;
  padding: 1.561rem 3.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  .board-tab-list01 li a {
    font-size: 2rem;
  }
}
.board-tab-list01:has(li.active:not(.all-cate)) li.all-cate.active {
  border-color: #B7B7B7;
  background-color: #fff;
  color: #666;
  text-decoration: unset;
}
@media (max-width: 991px) {
  .board-tab-list01 {
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .board-tab-list01 li a {
    padding: 1.2rem 1.6rem;
  }
}