main {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.main-section {
  display: block;
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 6rem 1.6rem;
}

#dangjin {
  background-color: #F3F5F9;
}
#dangjin .great-vibes-regular {
  color: #96c7e7;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
  text-align: center;
}
@media (max-width: 991px) {
  #dangjin .great-vibes-regular {
    font-size: 2.4rem;
  }
}
#dangjin .name-wrap {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.6rem;
  margin-top: 1.6rem;
}
#dangjin .name-wrap .name {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  #dangjin .name-wrap .name {
    font-size: 2.4rem;
  }
}
#dangjin .img-leaf {
  display: block;
  width: 100%;
}
#dangjin .img-leaf img {
  display: block;
  width: 2.8rem;
  margin: 0 auto;
}
#dangjin .parents {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
}
#dangjin .parents span {
  font-weight: 400;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  #dangjin .parents span {
    font-size: 2rem;
  }
}
#dangjin .btn-call {
  width: 100%;
  border: 1px solid #63b2e9;
}
#dangjin .call-popup {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: 100dvh;
  padding: 4rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
#dangjin .call-popup.active {
  opacity: 1;
  visibility: visible;
}
#dangjin .call-popup .inner {
  position: relative;
  width: 100%;
  max-height: 100%;
  padding: 8rem 1.6rem 4rem;
  border-radius: 1.6rem;
  background-color: #fff;
}
#dangjin .call-popup .inner .tit5 span {
  margin-left: 0.8rem;
  color: #747478;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  #dangjin .call-popup .inner .tit5 span {
    font-size: 2rem;
  }
}
#dangjin .call-popup .icon-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
#dangjin .call-popup .call-wrap {
  padding: 1.6rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#dangjin .call-popup .call-list {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  #dangjin .call-popup .call-list {
    font-size: 2rem;
  }
}
#dangjin .call-popup .call-list + .call-list {
  margin-top: 0.8rem;
}
#dangjin .call-popup .call-list .tit {
  width: 10rem;
  color: #747478;
}
#dangjin .call-popup .call-list .name {
  width: 8rem;
}
#dangjin .call-popup .call-list a {
  display: inline-block;
  padding: 1rem;
}
#dangjin .call-popup .call-list a img {
  display: block;
  width: 1.8rem;
}
#dangjin .call-popup .txt-close {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem 3rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  #dangjin .call-popup .txt-close {
    font-size: 2rem;
  }
}

#bucheon {
  background-color: #f9f3f3;
}
#bucheon .great-vibes-regular {
  color: #e79696;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
  text-align: center;
}
@media (max-width: 991px) {
  #bucheon .great-vibes-regular {
    font-size: 2.4rem;
  }
}

.calendar {
  width: 100%;
  margin-top: 4rem;
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 1.6rem;
}
.calendar .txt1 {
  padding: 0.4rem;
  border-radius: 0.8rem;
  background-color: rgb(216, 235, 253);
}
.calendar .firstDate {
  font-weight: 600;
}
.calendar table {
  width: 100%;
}
.calendar th,
.calendar td {
  height: 4rem;
}

.content_imgBox {
  background-color: #132F93;
  color: #fff;
  width: 8vw;
  height: 8vw;
  line-height: 8vw;
  border-radius: 10px;
  font-size: 4vw;
  display: inline-block;
}