main {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.main-section {
  display: block;
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 6rem 1.6rem;
}
.main-section-inner {
  margin: 0 auto;
}
@media (max-width: 480px) {
  .main-section-inner {
    max-width: 36rem;
  }
}

.main-img {
  overflow: hidden;
  display: block;
  width: 100%;
  margin-top: 2rem;
  border-radius: 2rem;
}
.main-img img {
  display: block;
  width: 100%;
}

.name-wrap {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.6rem;
  margin-top: 1.6rem;
}
.name-wrap .name {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.6rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  .name-wrap .name {
    font-size: 2.6rem;
  }
}

.tit-bar {
  display: block;
  width: 4rem;
  height: 1px;
  margin: 3rem auto;
}

.img-leaf {
  display: block;
  width: 100%;
}
.img-leaf img {
  display: block;
  width: 2.8rem;
  margin: 0 auto;
}

.parents {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
}
.parents span {
  font-weight: 400;
}

.btn-call {
  width: 100%;
  border: 1px solid rgba(16, 62, 121, 0.91);
  background-color: #fff;
  color: rgba(16, 62, 121, 0.91);
}

.call-popup {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: 100dvh;
  padding: 4rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.call-popup.active {
  opacity: 1;
  visibility: visible;
}
.call-popup .inner {
  overflow-y: auto;
  position: relative;
  width: 100%;
  max-height: 100%;
  padding: 8rem 1.6rem 4rem;
  border-radius: 1.6rem;
  background-color: #fff;
}
.call-popup .inner .tit5 span {
  margin-left: 0.8rem;
  color: #747478;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  .call-popup .inner .tit5 span {
    font-size: 2rem;
  }
}
.call-popup .icon-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.call-popup .call-wrap {
  padding: 1.6rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.call-popup .call-list {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  .call-popup .call-list {
    font-size: 2rem;
  }
}
.call-popup .call-list + .call-list {
  margin-top: 0.8rem;
}
.call-popup .call-list .tit {
  width: 10rem;
  color: #747478;
}
.call-popup .call-list .name {
  width: 8rem;
}
.call-popup .call-list a {
  display: inline-block;
  padding: 1rem;
}
.call-popup .call-list a img {
  display: block;
  width: 1.8rem;
}
.call-popup .txt-close {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem 3rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  .call-popup .txt-close {
    font-size: 2rem;
  }
}

.calendar {
  width: 100%;
  margin-top: 4rem;
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 1.6rem;
}
.calendar .firstDate {
  font-weight: 600;
}
.calendar table {
  width: 100%;
}
.calendar th,
.calendar td {
  height: 4rem;
}
.calendar .d-day {
  color: #fff;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.8rem;
  display: inline-block;
}

.tag {
  margin-right: 0.2rem;
  padding: 0.2rem 0.6rem;
  border-radius: 0.8rem;
}

.map {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.map .root_daum_roughmap {
  width: 100%;
}
.map .root_daum_roughmap .cont {
  display: none;
}
.map-wrap .d-flex .icon {
  width: 2.8rem;
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.map-wrap .d-flex .icon img {
  width: 100%;
}
.map-wrap .d-flex .txt {
  max-width: calc(100% - 3.4rem);
}

.location_wrap {
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.location_wrap a {
  background-color: #fff;
}

.NAV_BOX {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
  TEXT-ALIGN: CENTER;
  border-radius: 10px;
  color: #333333;
  border: 1px solid #E4E4E4;
  background-color: #fff;
  width: 31%;
  height: 45px;
  line-height: 45px;
}
@media (max-width: 991px) {
  .NAV_BOX {
    font-size: 1.6rem;
  }
}

.BOX_NAVER {
  float: left;
}

.BOX_NAVERIMG {
  WIDTH: 20PX;
  vertical-align: -4px;
}

.BOX_TMAPIMG {
  WIDTH: 22PX;
  vertical-align: -6px;
}

.BOX_KAKAOIMG {
  WIDTH: 22PX;
  vertical-align: -6px;
}

.BOX_TMAP {
  float: left;
  margin-left: 2.5%;
}

.BOX_KAKAO {
  float: right;
}

.weddingSlide {
  position: relative;
}
.weddingSlide .swiper-wrapper {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.weddingSlide .swiper-slide {
  display: block;
  width: 30rem;
  opacity: 0.5;
}
.weddingSlide .swiper-slide-active {
  opacity: 1;
}
.weddingSlide .swiper-slide img {
  display: block;
  width: 100%;
}
.weddingSlide .swiper-button-navi {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 4.8rem;
  background-color: rgba(255, 255, 255, 0.7);
  background-repeat: no-repeat;
  background-size: 2.4rem;
  z-index: 1;
}
.weddingSlide .swiper-button-prev {
  left: 0rem;
  background-image: url("../img/arrow-prev.png");
  background-position: left 1rem center;
}
.weddingSlide .swiper-button-next {
  right: 0rem;
  background-image: url("../img/arrow-next.png");
  background-position: right 1rem center;
}
.weddingSlide .swiper-pagination-progressbar {
  display: block;
  height: 4px;
}
.weddingSlide .swiper-pagination-progressbar-fill {
  width: 4rem;
  height: 100%;
  background-color: rgba(159, 39, 66, 0.92);
}

.send-flower {
  padding: 2rem;
  border-radius: 1.6rem;
  background-image: url("../img/flower_stand.svg");
  background-repeat: no-repeat;
  background-size: 6.4rem;
  background-position: right 1rem center;
}

.account-accordion {
  width: 100%;
  margin: 2rem auto 0;
  border: 1px solid #ddd;
  border-radius: 1.6rem;
  overflow: hidden;
}
.account-accordion + .account-accordion {
  margin-top: 1rem;
}
.account-list {
  list-style: none;
  margin: 0;
  padding: 1rem 1.6rem;
  border-top: 1px solid #ddd;
}
.account-list li {
  position: relative;
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -moz-box-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 1rem 0;
  border-bottom: 1px dotted #ddd;
}
.account-list li:last-child {
  border-bottom: none;
}
.account-list .name {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  .account-list .name {
    font-size: 1.6rem;
  }
}
.account-list .bank {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
  color: #747478;
}
@media (max-width: 991px) {
  .account-list .bank {
    font-size: 1.6rem;
  }
}
.account-list .bank-num {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  .account-list .bank-num {
    font-size: 2rem;
  }
}
.account-list .copyText {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0.4rem 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
  border: 1px solid #ddd;
  background: #f5f5f5;
  border-radius: 0.4rem;
  cursor: pointer;
}
@media (max-width: 991px) {
  .account-list .copyText {
    font-size: 1.6rem;
  }
}

.accordion-header {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem 1.6rem;
  background: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
  border: none;
  outline: none;
  cursor: pointer;
}
@media (max-width: 991px) {
  .accordion-header {
    font-size: 2rem;
  }
}
.accordion-header.active .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.accordion-header .icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 1.8rem;
}
.accordion-header .icon img {
  display: block;
  width: 100%;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
  background: #fff;
}

.way_guide {
  padding: 2rem;
  border-radius: 1.6rem;
  background-color: rgba(255, 255, 255, 0.6);
}
.way_guide .is_map_icon {
  display: inline-block;
  width: 3.2rem;
}
.way_guide .is_map_icon img {
  display: block;
  width: 100%;
}
.way_guide .way_tit {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  .way_guide .way_tit {
    font-size: 2rem;
  }
}
.way_guide .way_txt {
  margin-top: 0.8rem;
  padding: 0 0.4rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 991px) {
  .way_guide .way_txt {
    font-size: 1.8rem;
  }
}
.way_guide li + li {
  padding-top: 1.6rem;
  margin-top: 1.6rem;
  border-top: 1px solid #ddd;
}

#dangjin {
  background-color: #F3F5F9;
}
#dangjin .section-title {
  color: rgba(16, 62, 121, 0.91);
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -0.025rem;
  text-align: center;
}
@media (max-width: 991px) {
  #dangjin .section-title {
    font-size: 2.6rem;
  }
}

#bucheon {
  background-color: #f9f3f3;
}
#bucheon .section-title {
  color: rgba(159, 39, 66, 0.92);
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -0.025rem;
  text-align: center;
}
@media (max-width: 991px) {
  #bucheon .section-title {
    font-size: 2.6rem;
  }
}
#bucheon .btn-call {
  border-color: rgba(159, 39, 66, 0.92);
  color: rgba(159, 39, 66, 0.92);
}
#bucheon .parents {
  font-size: 2.4rem;
}

.toast-copy {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 1.4rem;
  border-radius: 2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1000;
}
.toast-copy.show {
  opacity: 1;
  visibility: visible;
  bottom: 4.5rem;
}