.icon {
  font-size: 0;
}

.sub-sec + .sub-sec {
  margin-top: 7rem;
}
@media (max-width: 991px) {
  .sub-sec + .sub-sec {
    margin-top: 4rem;
  }
  .sub-sec.mt-70 {
    margin-top: 4rem;
  }
}

.sub-sec-title {
  margin-bottom: 2.4rem;
}
@media (max-width: 991px) {
  .sub-sec-title {
    margin-bottom: 2.4rem;
  }
}

.sub-article-title {
  margin-bottom: 2.4rem;
  margin-bottom: 2.4rem;
}

.sub-sec-text {
  word-break: keep-all;
  text-wrap-style: pretty;
}