@charset 'utf-8';
@use 'mixin' as *;

header{ width: 100%; height: 100vh; background-image: url('../img/main_01.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top center;}

.gnb{ display: block; width: 100%; height: 100%; padding: 1.6rem;
	ul{ @include d-flex; @include flex-column; @include align-center; @include justify-center; gap: 2rem;  height: 100%;
		> li{ width: 100%; height: 40vh; padding: 2rem; backdrop-filter: blur(4px); background-color: rgba(255, 255, 255, .6); border-radius: 1.6rem; text-align: center;
			> a{ @include d-flex; @include flex-column; @include align-center; @include justify-center; gap: .8rem; height: 100%; color: $color-black; @include title-style(depth5, 600, 1.5); transition: 0.3s;}
		}
		
	}
}