@charset 'utf-8';
@use 'mixin' as *;

body{}
#wrap{ overflow: hidden; position: relative; width: 100%; max-width: 48rem; margin: 0 auto;}
.container{ @include container;}

/* header */
@import 'cp_header';

/* footer */
@import 'cp_footer';